@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400i&display=swap');
html,
body {
  height: 100%;
  font-family: "Raleway", sans-serif;
}
.pub{
  border-radius: 50%;
  margin-bottom: 5px;
  cursor: pointer;
}
.clicked {
	animation: boxShadowAnim 0.5s forwards;
}
.name-div {
  margin-top: 20px;
}
#name {
  border: none;
  width: 400px;
  font-family: 'Roboto Slab', serif;
  background-color: black;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  color: white;
}

@keyframes boxShadowAnim {
	from {
		box-shadow: rgba(255, 224, 178, 1) 0px 0px 0px 0px;
	}
	to {
		box-shadow: rgba(255, 224, 178, 0) 0px 0px 0px 20px;
	}
}
.up{
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload{
  display: flex;
  justify-content: center;
  align-items: center;
}
.send{
  position: relative;
  margin-top:30px;
}
.upload-border{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:400px;
  width:400px;
  background-color: rgb(0,0,0,0.35);
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  transition: outline-offset 1s ease-in-out, outline-color 1s ease-in-out, background-color 1s ease-in-out;
}
.upload-zone{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:300px;
  width:300px;
  background-color: rgb(255,255,255,0.2);
  transition: width 1s ease-in-out, height 1s ease-in-out, background-color 1s ease-in-out;
}
.is-dragover{
  height:350px;
  width:350px;
  background-color: rgb(255,255,255,0.6);
}
.is-dragover2{
  outline-offset: -15px;
  outline-color: white;
  background-color: rgb(0,0,0,0.4);
}
.rt{
  position: relative;
  color:black;
}
.rt i{
  opacity:0.6;
}
.custom-input{
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.custom-input input[type="file"]{
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;  /* Fix for IE7 */
  position: absolute;
  top: 0;
  left: 0;
}
.custom-input input[type="button"]{
  border-radius: 50px;
  border:none;
  width:100px;
  padding:5px;
  color:black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background-color: #078BFF;
}
.navbar{
  background-color: transparent !important;
  transition: background-color 1s ease 0s;
}
.navbar.navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-brand{
  color:white !important;
  font-family: "Asimov", Arial, sans-serif;
  font-weight: 400;
}
.navbar.solid {
  background-color: #020202 !important;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar-nav>li>a{
  color:white !important;
  font-family: "Asimov", Arial, sans-serif;
}
.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.list-group{
  text-align: center;
}
.list-group a:link,.list-group a:visited,.list-group a:hover,.list-group a:active{
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  color: white;
  user-select: pointer;
  font-size: 20px;
}
.list-group > * {
  display: block;
  margin-top: 10px;
}
.home,.upload {
  height: 100%;
  color: white;
  box-shadow: 0 0 15px grey;
  margin-bottom: 0;
  background-image: url("./../back-home.jpg");
  box-shadow:inset 0 0 0 2000px rgba(0, 56, 139, 0.3);
}
.feeds{
  background-image: url("./../feed.jpg");
}
.upload{
  background-image: url("https://res.cloudinary.com/crakerss/image/upload/c_scale,q_auto:good,w_1440/v1502969988/CDF.jpg");
}
#homeH1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#homeH1 h1,h2 {
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 0.75;
  margin: 25px;
  opacity: 0;

  animation-name: spreadText;
  animation-duration: 4s;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
#homeH1 h2{
    animation-name: spreadText2;
}
#homeH1 i {
  animation-name: spreadIcons;
  animation-duration: 4s;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes spreadText {
  from {
    letter-spacing: -20px;
    opacity: 0;
  }
  to {
    letter-spacing: 1px;
    opacity: 1;
  }
}
@keyframes spreadText2 {
    from {
      letter-spacing: -10px;
      opacity: 0;
    }
    to {
      letter-spacing: 1px;
      opacity: 1;
    }
  }
@media only screen and (max-width: 767px) {
  #homeH1 h1 {
    font-size: 70px;
  }
}
@media only screen and (max-width: 375px) {
  #homeH1 h1 {
    font-size: 50px;
  }
}

@media only screen and (max-device-width: 1023px) {
  .paralax {
    background-attachment: scroll;
  }
}
svg{
  width: 50px;
  height: 50px;
  margin: 10px;
  display:inline-block;
}